{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBase</title>
    {% block css %}
    <link rel ="stylesheet" href = "{% static '/css/bootstrap.min.css' %}"/>
    <script src = "/scripts/jquery.min.js"></script>
    <script src = "/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" >
    {% endblock %}
  </head>
{% block main %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-dark shadow rounded " role="navigation" >
    <div class="container-fluid" >
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#a" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
          <div class="collapse navbar-collapse " id="a">
              <ul class="navbar-nav mx-auto text-center" >

 <a class="nav-link active rounded " aria-current="page" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>

                
  
              </ul> 

          </div>
    </div>
  
  </nav>
  {% endblock %}
   <div  class="fixed-top" ></div><span id="over" class="fixed-top" style="width: 10px; height: 20px; margin-left:15%; border-radius:40%; background: yellow; visibility: hidden;"></span>
        <table border="1" class="table bg-success text-light">
          <center><h1 style="background-color: aqua;  ">Users data</h1></center>
            <tr>
                <th>S.N.</th>
                <th>ID</th>
                <th>E-Mail:</th>
                <th>Contact No:</th>
                <th>User Name:</th>
                <th>profile</th>
                
            </tr>
            {% for database in database2 %}
            <tr class="h"><td>{{forloop.counter}}</td>
                <td id="{{database.id}}">{{database.id}}</td>
                

                <td>{{database.email}}</td>
                <td>{{database.contactno}}</td>
                <td>{{database.username}}</td>
                
                <td> {% if database.icon %}


                    <img src="{{database.icon.url}}" class='img-circular' alt="Cinque Terre" style= "border-radius: 50%;" height=80vh; width=60vh;/>

                    {% else %}
                        <img src= "{% static 'images/e3.jpg' %}" alt="images" style= "border-radius: 50%;" width="80vh">
    
                    {%endif%}</td>
               



            </tr>
            {% endfor %}


    </table>

</div>
</div>
{% block js %}
<script src="{% static '/js/bootstrap.min.js'%}"></script>
<script>
  function a(){
    document.getElementById("over").style.visibility="visible";
  }
</script>
{%endblock%}
{% endblock %}

